<div class="modal-header">
   <h3 class="modal-title">{{dlgTitle}}</h3>
</div>
<div class = "modal-body">
   <form>
      <fieldset class="form-group">
         <label>Message Content</label>
         <input type="textarea" class="form-control" placeholder="Content"
          ng-model="content" maxlength= 5000>
      </fieldset>
   </form>
</div>
<div class="modal-footer">
   <button type="button" class="btn btn-primary" ng-disabled="!content"
    ng-click="$close(content)">OK</button>
   <button type="button" class="btn btn-warning"
    ng-click="$dismiss()">Cancel</button>
</div>
