<h2>Row</h2>
<div class="list-group">
    <div class="list-group-item">
      <p>Row: {{row.id}}</p>
      <p>Column1: <input ng-model="column1">
      </p>
      <p>Column2: <input ng-model="column2">
      </p>
      <p>Column3: <input ng-model="column3">
      </p>
      <p>Column4: <input ng-model="column4">
      </p>
      <p>Column5: <input ng-model="column5">
      </p>
      <p>Column6: <input ng-model="column6">
      </p>
   </div>
</div>

<button class="btn btn-primary" type="button" style="margin-top:5px"
 ng-click="save()">
   Save
</button>
<button class="btn btn-primary" type="button" style="margin-top:5px"
 ng-click="Discard()">
   Delete
</button>
