
<div class="list-group" style="overflow-y: scroll; height: 600px;">
   <table>
      <th>Row Number</th>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Column 6</th>
      <tr ng-repeat="row in rows">
         <td ui-sref="table1RowDetail({rowId: row.id})">{{row.id}}</td>
         <td ui-sref="table1RowDetail({rowId: row.id})">{{row.column1}}</td>
         <td ui-sref="table1RowDetail({rowId: row.id})">{{row.column2}}</td>
         <td ui-sref="table1RowDetail({rowId: row.id})">{{row.column3}}</td>
         <td ui-sref="table1RowDetail({rowId: row.id})">{{row.column4 | date : "medium"}}</td>
         <td ui-sref="table1RowDetail({rowId: row.id})">{{row.column5 | date : "medium"}}</td>
         <td ui-sref="table1RowDetail({rowId: row.id})">{{row.column6}}</td>
      </tr>
   </table>
</div>

<button class="btn btn-primary" type="button" style="margin-top:5px"
 ng-click="newRow()">
   New Row
</button>
